.bg-custom-1 {
    background-color: #e3fafc !important;
}

.color-icon-1 {
    color: #5c7cfa !important;
}

.color-icon-2 {
    color: #51cf66 !important;
}

.color-icon-3 {
    color: #f803e4 !important;
}

.color-icon-4 {
    color: #ff0000 !important;
}

.color-icon-5 {
    color: #e98a32 !important;
}

.color-icon-6 {
    color: #000000 !important;
}

.color-icon-7 {
    color: #00a2ff !important;
}

.color-icon-8 {
    color: #81868a !important;
}

.text-color-black {
    color: #495057 !important;
}